In [50]:
from urllib.request import urlopen
import json
import pandas as pd
import requests

In [51]:
resp = requests.get('https://apitransporte.buenosaires.gob.ar/ecobici/gbfs/stationInformation?client_id=5121c01c329f42d99af2d40112b37c78&client_secret=61912FCe29fC4C9181b01689FBe5C0fD')
txt = resp.json()
df = pd.DataFrame(txt['data'])
df.head()

                                            stations
0  {'station_id': '2', 'name': '002 - Retiro I', ...
1  {'station_id': '3', 'name': '003 - ADUANA', 'p...
2  {'station_id': '4', 'name': '004 - Plaza Roma'...
3  {'station_id': '5', 'name': '005 - Plaza Itali...
4  {'station_id': '6', 'name': '006 - Parque Leza...

In [52]:
df = pd.json_normalize(df['stations'])

In [53]:
df.sample(5)

,station_id,name,physical_configuration,lat,lon,altitude,address,post_code,capacity,rental_methods,groups,obcn,nearby_distance,cross_street
22,32,032 - Catedral,SMARTLITMAPFRAME,-34.607207,-58.373598,0.0,67 San Martin,11111,16,"[KEY, TRANSITCARD, PHONE]",[SAN NICOLAS],,1000.0,NaN
188,353,237 - Madero Office,SMARTLITMAPFRAME,-34.599036,-58.364695,0.0,"367 Sanchez De Thompson, Mariquita",1111,20,"[KEY, TRANSITCARD, PHONE]",[PUERTO MADERO],,1.0,NaN
50,76,076 - Ayacucho,SMARTLITMAPFRAME,-34.607408,-58.395055,0.0,"Ayacucho &Peron, Juan Domingo, Tte. General",11111,20,"[KEY, TRANSITCARD, PHONE]",[BALVANERA],,1000.0,NaN
89,144,144 - PUEYRREDÓN,SMARTLITMAPFRAME,-34.601874,-58.406094,0.0,684 Boulogne Sur Mer & Tucuman,1111,20,"[KEY, TRANSITCARD, PHONE]",[BALVANERA],NaN,1000.0,684 Boulogne Sur Mer & Tucuman
126,199,199 - ESTADOS UNIDOS Y BOEDO,SMARTLITMAPFRAME,-34.622260,-58.416014,0.0,3568 Estados Unidos & Boedo Av.,11111,20,"[KEY, TRANSITCARD, PHONE]",[BOEDO],,20000.0,3568 Estados Unidos & Boedo Av.

In [54]:
# Datos de Nafta Premiun
df.to_csv(path_or_buf='Data/registros-bici-2.csv', sep=',',
                   header=True, encoding='utf8', index=False)

Lo que se me ocurre es que podemos dropear todos los valores, y nos quedamos solo con groups y capacity para hacer un arbol.