In [1]:
from urllib.request import urlopen
import json
import pandas as pd

In [2]:
response = urlopen("https://apitransporte.buenosaires.gob.ar/ecobici/gbfs/stationInformation?client_id=5121c01c329f42d99af2d40112b37c78&client_secret=61912FCe29fC4C9181b01689FBe5C0fD")

In [3]:
json_data = response.read().decode('utf-8', 'replace')

In [10]:
d = json.loads(json_data)
df = pd.json_normalize(d['data.stations'])

KeyError: 'data.stations'

In [9]:
df.head()

   last_updated  ttl                                      data.stations
0    1615147632   20  [{'station_id': '2', 'name': '002 - Retiro I',...

In [20]:
import urllib.request, json 
import pandas as pd
with urllib.request.urlopen("https://apitransporte.buenosaires.gob.ar/ecobici/gbfs/stationInformation?client_id=5121c01c329f42d99af2d40112b37c78&client_secret=61912FCe29fC4C9181b01689FBe5C0fD") as url:
    data = json.loads(url.read().decode())
    df = pd.DataFrame(data)
print(df)

          last_updated  ttl                                               data
stations    1615148117   18  [{'station_id': '2', 'name': '002 - Retiro I',...

In [21]:
df.dtypes

last_updated     int64
ttl              int64
data            object
dtype: object

In [39]:
import requests
resp = requests.get('https://apitransporte.buenosaires.gob.ar/ecobici/gbfs/stationInformation?client_id=5121c01c329f42d99af2d40112b37c78&client_secret=61912FCe29fC4C9181b01689FBe5C0fD')
txt = resp.json()
df = pd.DataFrame(txt['data'])
df.head()

                                            stations
0  {'station_id': '2', 'name': '002 - Retiro I', ...
1  {'station_id': '3', 'name': '003 - ADUANA', 'p...
2  {'station_id': '4', 'name': '004 - Plaza Roma'...
3  {'station_id': '5', 'name': '005 - Plaza Itali...
4  {'station_id': '6', 'name': '006 - Parque Leza...

In [42]:
df = pd.json_normalize(df['stations'])

In [43]:
df

,station_id,name,physical_configuration,lat,lon,altitude,address,post_code,capacity,rental_methods,groups,obcn,nearby_distance,cross_street
0,2,002 - Retiro I,SMARTLITMAPFRAME,-34.592423,-58.374715,0.0,"Ramos Mejia, Jose Maria, Dr. Av. & Del Liberta...",11111,20,"[KEY, TRANSITCARD, PHONE]",[RETIRO],,1000.0,NaN
1,3,003 - ADUANA,SMARTLITMAPFRAME,-34.611032,-58.368260,0.0,Moreno & Av Paseo Colon,11111,20,"[KEY, TRANSITCARD, PHONE]",[MONSERRAT],NaN,1000.0,Moreno & Av Paseo Colon
2,4,004 - Plaza Roma,SMARTLITMAPFRAME,-34.601822,-58.368781,0.0,Lavalle & Bouchard,11111,20,"[KEY, TRANSITCARD, PHONE]",[SAN NICOLAS],,1000.0,NaN
3,5,005 - Plaza Italia,SMARTLITMAPFRAME,-34.580550,-58.420954,0.0,Av. Sarmiento 2601,1111,42,"[KEY, TRANSITCARD, PHONE]",[PALERMO],,1000.0,NaN
4,6,006 - Parque Lezama,SMARTLITMAPFRAME,-34.628526,-58.369758,0.0,"Avenida Martin Garcia, 295",1111,20,"[KEY, TRANSITCARD, PHONE]",[SAN TELMO],,1000.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
195,435,227 -Club Ciudad de Buenos Aires,SMARTLITMAPFRAME,-34.544503,-58.459499,0.0,Miguel Sanchez y Av Libertadores,1111,16,"[KEY, TRANSITCARD, PHONE]",[Nuñez],,1.0,NaN
196,441,016 - Legislatura,SMARTLITMAPFRAME,-34.609801,-58.374800,0.0,"169 Peru & Roca, Julio A., Presidente Diagonal...",1111,20,"[KEY, TRANSITCARD, PHONE]",[MONSERRAT],,1000.0,NaN
197,444,061-Ministerio de Economia,SMARTLITMAPFRAME,-34.608936,-58.370716,0.0,"Balcarce & Yrigoyen, Hipolito Av.",1111,24,"[KEY, TRANSITCARD, PHONE]",[SAN NICOLAS],,1000.0,NaN
198,448,393 - Barrio 31,SMARTLITMAPFRAME,-34.582422,-58.378862,0.0,Carlos H. Perette 11,1111,24,"[KEY, TRANSITCARD, PHONE]",[RETIRO],,1000.0,NaN
199,449,352 - San Jose de Flores,SMARTLITMAPFRAME,-34.629083,-58.463251,0.0,Avenida Rivadavia y Fray Cayetano,1111,24,"[KEY, TRANSITCARD, PHONE]",[FLORES],,1000.0,NaN